body{
    background: linear-gradient(to right top, #00c9a7, #00cdba, #00d0cc, #00d3dd, #12d5eb);
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: rgb(34,193,195);
}
.container {
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30vh;
    left: 15vw;

}
.card {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: "League Gothic", Impact, sans-serif;
    box-shadow: -1px 24px 8px -5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.word {
    text-transform:uppercase;
    color: black;
    height: 20vh;
    display: flex;
    /*flex-direction: column;*/
    font-size: 3em;
    justify-content: center;
    flex-basis: 98%;
    animation-name: example;
    animation-duration: 1s;

}

.type {
    font-style: italic;
}

.meaning {
    margin-left: 2vw;
    font-style: oblique;
    margin-bottom: 5vh;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn {
    /*margin: .1vw;*/
}
.menu-container {
    display: flex;
    flex-direction: column;

}
.menu {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    margin-left: 1em;
}

.ham {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 2vw;
    margin-bottom: .5em;
}

.meaning {
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation-name: example;
    animation-duration: 1s;
}

.shift-right {
    margin-left: 60vw;

}
.left {
    justify-content: flex-start;
    flex-basis: 1%;
    margin: 0em;

}
.right {
    justify-content: flex-end;
    flex-basis: 1%;
    margin: 0em;
}

.cardt {
    width: 50vw;
}

img {
    width: 10rem;
}

@keyframes example {
    0% { opacity: .3}
    20% { opacity: .4}
    40% { opacity: .5}
    60% { opacity: .6}
    80% { opacity: .7}
    100% { opacity: .8}
}





@media screen and (max-width: 800px) {
    .container {
        width: 100vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0vh;
        left: 0vw;
    }
    .card {

        background-color: gainsboro;
        font-family: "League Gothic", Impact, sans-serif;
        box-shadow: -1px 24px 8px -5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .word {
        text-transform:uppercase;
        color: black;
        height: 20vh;
        display: flex;
        /*flex-direction: column;*/
        font-size: 1.5em;
        justify-content: center;
        flex-basis: 98%;
        animation-name: example;
        animation-duration: 1s;
    }

    .type {
        font-style: italic;
    }

    .meaning {
        margin-left: 2vw;
        font-style: oblique;
        margin-bottom: 10vh;
    }

    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .btn {
        /*margin: .1vw;*/
    }
    .menu-container {
        display: flex;
        flex-direction: column;


    }
    .menu {
        display: flex;
        flex-direction: row;
        /*justify-content: center;*/
        margin-left: .5vw;
    }

    .ham {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 6vw;
        margin-left: .2em;
        margin-bottom: .5em;
    }

    .meaning {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1em;
    }

    .shift-right {
        margin-left: 60vw;

    }
    .left {
        justify-content: flex-start;
        flex-basis: 1%;
        margin: 0em;

    }
    .right {
        justify-content: flex-end;
        flex-basis: 1%;
        margin: 0em;
    }
    @keyframes example {
        0% { opacity: .3}
        20% { opacity: .4}
        40% { opacity: .5}
        60% { opacity: .6}
        80% { opacity: .7}
        100% { opacity: .8}
    }

    img {
        width: auto;
    }
}


