.card {
    width: 50vw;
    height: 40vh;
    background-color: wheat;
    color: black;
    margin: auto;

    position: fixed;
    top: 25vh;
    left: 25vw;
    border-radius: 2rem;
}

.word-of-the-day {
    padding: 1vw;
    font-family: cursive;
    font-size: 2vw;
    font-weight: bold;
    background-color:black;
    color: burlywood;
    height: 10vw;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
}

.type {
    font-style: italic;
    padding: .5vw;
}

.meaning {
    margin-top: 2vh;
    font-style: oblique;
    padding: .5vw;
}

.buttonContainer {
    position: relative;
    left: 45vw;
    top: 65vh;
}
button {
    margin: .5vw;
}
